@model MVCHomework1.Models.ViewModels.AccountBook
@{
    ViewBag.Title = "Money";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        <div class="well col-sm-12 col-md-12 col-lg-12" style="line-height:20px">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="category" class="col-sm-12 col-md-2 col-lg-2 control-label">類別</label>
                    <div class="col-sm-12 col-md-10 col-lg-10">
                    @Html.DropDownList("Categoryyy",new List<SelectListItem>
                    {
                        new SelectListItem{ Text="請選擇",Value="-1"},
                        new SelectListItem{ Text="支出",Value = "0" },
                        new SelectListItem{ Text="收入", Value = "1" }
                    }
                   , new {@class= "form-control" })
                    @Html.ValidationMessageFor(model => model.Categoryyy, "", new { @class = "text-danger" })

                    </div>
                </div>
                <br/>
                <div class="form-group">
                    @Html.LabelFor(model => model.Amounttt, "金額", htmlAttributes: new { @class = "control-label col-sm-12 col-md-2 col-lg-2" })
                    <div class="col-sm-12 col-md-10 col-lg-10">
                        @Html.EditorFor(model => model.Amounttt, new { htmlAttributes = new { @class = "form-control digits" } })
                        @Html.ValidationMessageFor(model => model.Amounttt, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Dateee, "日期", htmlAttributes: new { @class = "control-label col-sm-12 col-md-2 col-lg-2" })
                    <div class="col-sm-12 col-md-10 col-lg-10">
                        @Html.EditorFor(model => model.Dateee, new { htmlAttributes = new { @class = "form-control dateISO" } })
                        @Html.ValidationMessageFor(model => model.Dateee, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Remarkkk, "備註", htmlAttributes: new { @class = "control-label col-sm-12 col-md-2 col-lg-2" })
                    <div class="col-sm-12 col-md-10 col-lg-10">
                        @Html.EditorFor(model => model.Remarkkk, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Remarkkk, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                        <input type="submit" value="送出" class="btn btn-default btn-warning" style="margin-top:10px"/>
                    </div>
                </div>

            </form>
        </div>

    <div class="row">
        <div class="col-md-12">
            @Html.Action("_MoneyList", "Money")
        </div>
    </div>

}